<section class="login">
    <div class="login-hero">
        <div class="logo">
            <span class="material-icons">fitness_center</span>
            <h1>SISTEMA DE <br>GESTIÓN GYM</h1>
        </div>
    </div>
    
    <div class="login-content">
        <div class="login-card">
            <form [formGroup]="contactoForm" (ngSubmit)="verificarLogin()" class="login-form" autocomplete="off">

                <!-- Contenedor del avatar circular gris -->
                <div class="avatar-container">
                    <span class="material-icons">person</span>
                </div>
                <div class="welcome-text">
                    <h3>Bienvenido</h3>
                    <h1>Inicia Sesión</h1>
                    <div class="title-line"></div>
                </div>

                <!-- Input Correo -->
                <div class="input-group">
                    <input type="email" formControlName="correoIngresado" placeholder="Email">
                </div>
                <div class="text-error" *ngIf="contactoForm.controls.correoIngresado.touched && contactoForm.controls.correoIngresado.errors?.['required']">
                    El correo electrónico es obligatorio.
                </div>
                <div class="text-error" *ngIf="contactoForm.controls.correoIngresado.touched && contactoForm.controls.correoIngresado.errors?.['email']">
                    Ingresa un correo electrónico válido.
                </div>

                <!-- Input Contraseña -->
                <div class="input-group">
                    <input type="password" formControlName="contraIngresada" placeholder="Password">
                </div>
                <div class="text-error" *ngIf="contactoForm.controls.contraIngresada.touched && contactoForm.controls.contraIngresada.invalid">
                    La contraseña debe tener al menos 6 caracteres.
                </div>
                
                <div class="checkbox-group">
                    <input type="checkbox" formControlName="aceptoTerminos">
                    <label for="terminos">Acepto los <a href="#">Términos y Condiciones</a></label>
                </div>
                <div class="text-error" *ngIf="contactoForm.controls.aceptoTerminos.touched && contactoForm.controls.aceptoTerminos.invalid">
                    Debes aceptar los terminos y condiciones
                </div>
                <!-- Botón morado de la imagen -->
                <button type="submit" [disabled]="contactoForm.invalid">Iniciar sesión</button>
            </form>
        </div>
    </div>
</section>